div#logo{
    width: 30%;
    height: inherit;
    float: left;
    color: white;
}
div#logo div{
    height: 60px;
    width: 60px;
    margin: 10px;
    float: left;
}
div#logo p{
    display: inline-block;
    float: left;
    font-size: 30px;
    margin: 15px;
}
div#search-input{
    width: 40%;
    height: inherit;
    float: left;
}
div#search-input input{
    display: block;
    border: none;
    font-size: 13px;
    width: 400px;
    padding: 10px;
    margin: 25px auto;
    font-family: Lato;
}

div#buttons{
    width: 30%;
    box-sizing: border-box;
    padding-right: 20px;
    height: inherit;
    display: inline-block
}

div#buttons button{
    display: block;
    float: right;
    font-family: "Pacifico";
    font-size: 13px;
    color: white;
    width: 150px;
    padding: 6px;
    border: 0;
    margin: 25px 8px;

}
div#buttons button p{
    margin: 0;
    padding: 0;
}
