/* Header */
#wrapper{
    height: 100%;
    width: 100%;
    float: left;
    min-width: 1200px;
    min-height: 600px;
}

header{
    height: 80px;
    width: 100%;
    float:left;
}

/* Chat Body*/


div#chat-body{
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    width: 100%;
    min-height: 500px;
    height: calc(100% - 80px);
    box-sizing: border-box;
    overflow: hidden;
}

div#chat-conversations{
    float: left;
    width: 70%;
    height: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: auto;
}

div#active-user-list{
    float: left;
    height: 100%;
    width: 30%;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: auto;
}



