<div id="mainPage">
    <ng-template #menu1>
        <div>Menu</div>
    </ng-template>

    <ng-container *ngFor="let user of users">
        <div>
            <p>User id: {{user.getId()}}</p>
            <p>User name: {{user.getNick()}}</p>
        </div>
    </ng-container>
    <button (click)="gerUsers()">Get Users</button>

    <div class="loggingBox">
    <app-logo></app-logo>
        <p id="textBoxingChat">Boxing Chat</p>
        <input id="login" type="text" placeholder="  Login"><br/>
        <input id="password" type="password" placeholder="  Password"><br/>
        <button id="buttonRegister" (click)="addUser()">Register</button>
        <button id="buttonLogIn">Log in</button>

    </div>
</div>