/* You can add global styles to this file, and also import other style files */

html{
    height: 100%;
    width: 100%;
    float:left;
}

body {
    height: 100%;
    width: 100%;
    font-family: Pacifico;
    margin: 0;
 }

.box-radius{
    border-radius: 6px;
}
.bg-color-green{
    background-color: #78af0e;
}
.bg-color-red{
    background-color: #d13314;
}

.bg-color-blue{
    background-color: #0c9ad2;
}