

 h1{
    display: block;
    width: calc(100% - 40px);
    background-color: white;
    color: #444;
    height: 35px;
    margin: 0 20px 20px 20px;
    font-size: 18px;
    font-family: lato;
    box-sizing: border-box;
    padding: 6px;;
}

#user-list{
    margin: 0 20px 0 20px;
    width: calc(100% - 40px);
    height: calc(100% - 55px);
    background-color: white;
    box-sizing: border-box;
}

.user{
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    font-family: Lato;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.user:hover{
    color: #0077ea;
}

.user p{
    margin: 0;
}
