<div id="active-user-wrapper">
    <div [ngStyle]="activeUserStatusBar" id="active-user-bar"></div>
    <div id="active-user-header">
        <p id="users">Users</p>
        <p id="active-user-filter"></p>
    </div>
    <div id="active-user-list">
        <ng-container *ngFor="let user of users">

            <div (click)="setReceiver(user)" class="user">
                <span id="active-user-status"></span>
                <p>{{user.nick | uppercase}}</p>
            </div>

        </ng-container>
    </div>
</div>