<div id="mainPage">
  <div class="loggingBox">
    <!--<app-logo2></app-logo2>-->
    <div #status [ngStyle]='statusBar' id="status-line"> </div>
    <div id="logo" ></div>
    <h3 id="logo-brand">Blue Chat</h3>
    <input id="login" class="default-radius" type="text" placeholder="  Login"><br/>
    <input id="password" class="default-radius"  type="password" placeholder="  Password"><br/>
    <button [disabled]="loginButtonsDisabled" [ngStyle]=loginButton id="buttonLogIn" class="default-radius" (click)="loginUser()">Log in</button>
    <button id="buttonRegister" class="default-radius"  (click)="registerUser()">Register</button>
  </div>
</div>