<div id="mainPage">
  <div class="loggingBox">
    <!--<app-logo2></app-logo2>-->
    <div id="status-line"> </div>>
    <div id="logo" ></div>
    <h3 id="logo-brand">Blue Chat</h3>
    <input id="login" class="default-radius" type="text" placeholder="  Login"><br/>
    <input id="password" class="default-radius"  type="password" placeholder="  Password"><br/>
    <button id="buttonRegister" class="default-radius"  (click)="addUser2()">Register</button>
    <button id="buttonLogIn" class="default-radius" routerLink="/chat" >Log in</button>
  </div>
</div>